= form_for @project, :html => {:class => "form-horizontal"} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .control-label
      = f.label :name
    .controls
      .input-xxlarge
        = f.text_field :name, :class => "span6"
    
  .control-group
    .control-label
      = f.label :description
    .controls
      .input-xxlarge
        = f.text_area :description, :class => "span6" , :rows => "6"
  
  .control-group
    .control-label
      = f.label :center
    .controls
      .input-xxlarge
        = f.text_field :center, :class => "span6"
  
  .control-group
    .control-label
      = f.label :project_url, "Project home page"
    .controls
      .input-xxlarge
        = f.text_field :project_url, :class => "span6"

  .control-group
    .control-label
      = f.label :source_code_url, "Source code location"
    .controls
      .input-xxlarge
        = f.text_field :source_code_url, :class => "span6"
  
  .control-group
    .control-label
      = f.label :repo_name, "Destination repository"
    .controls
      .input-xxlarge
        = f.text_field :repo_name, :class => "span6"
  
  .control-group
    .control-label
      = f.label :vcs, "Distribution method"
    .controls
      .input-xxlarge
        = f.select :vcs, Project::TYPES.map{ |value| [value.capitalize, value] }
  
  .control-group
    .control-label
      = f.label :interval, "Sync interval"
    .controls
      .input-xxlarge
        = f.select :interval, Project::INTERVALS.map{ |value| ["#{value} hours", value] }
  
  .form-actions
    .span3.offset2
      = button_tag :type => "submit", :class => "btn btn-large btn-primary btn-block" do
        %i.icon-save
        Update
    
      = link_to :back, :class => "btn btn-large btn-block" do
        Cancel
