
= form_for @project, :html => {:class => "form-horizontal"} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .control-label
      = f.label :name
    .controls
      .input-xxlarge
        = f.text_field :name, :class => "span6"
    
  .control-group
    .control-label
      = f.label :description
    .controls
      .input-xxlarge
        = f.text_area :description, :class => "span6" , :style => "height: 200px;"

  .control-group
    .control-label
      = f.label :project_url
    .controls
      .input-xxlarge
        = f.text_field :project_url, :class => "span6"

  .control-group
    .control-label
      = f.label :source_code_url
    .controls
      .input-xxlarge
        = f.text_field :source_code_url, :class => "span6"
        
  .control-group
    .control-label
      = f.label :vcs
    .controls
      .input-xxlarge
        = f.select :vcs, Project::TYPES.map{ |value| [value.capitalize, value] }
  
  .control-group
    .control-label
      = f.label :interval
    .controls
      .input-xxlarge
        = f.select :interval, Project::INTERVALS.map{ |value| ["#{value} hours", value] }
        
  = f.submit 'Save', :class => "btn btn-primary"
