<<<<<<< HEAD
.form-horizontal 
	.well.span11

		%h1 Edit project

		= render 'form'

		= link_to 'Show', @project
		\|
		= link_to 'Back', projects_path
=======
.well
  .page-header
    %legend
      %h1 Editing project
  = render 'form'

  = link_to 'Show', @project
  \|
  = link_to 'Back', projects_path
>>>>>>> c6df933079ad7d929512e6465ae925edb0289f69



