= content_for :jquery do
  $("#sync-btn").click(function(){$(this).addClass("disabled").children("i").addClass("icon-spin");});

.page-header
  %h1= @project.name
  %h4= link_to @project.project_url, @project.project_url, :target => "_blank"

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#tab1", "data-toggle" => "tab"}
        Details
    %li
      %a{:href => "#tab2" , :"data-toggle" => "tab"}
        History
  .tab-content
    #tab1.tab-pane.active
      .row
        .span9
          %blockquote
            %p.justify= @project.description
        .span3
          - if @project.synced?
            %span.label.label-success.span2
              %center Synced
          - else
            %span.label.label-warn.span2
              %center Not synced
          %br/
          %span.label.label-inverse.span2
            %center= link_to @project.vcs, @project.source_code_url, :target => "_blank"
      .row
        .span9
          %dl.dl-horizontal
            %dt Last update 
            %dd= time_ago @project.updated_at
            %dt Update interval
            %dd= "#{@project.interval} hours"
            
            %dt Center
            %dd= @project.center
            %dt License
            %dd= @project.license
            
        .span3
          %br/
          %br/
          = link_to sync_project_path(@project), id: "sync-btn", remote: true, class: "btn btn-success btn-large span2", data: {"loading-text" => "Syncing..."} do
            %i.icon-refresh
            Sync now
      .row
        #tags.span9
          - @project.tag_list.each do |tag|
            %label.label.label-info= link_to tag, tag_path(tag)
      .form-actions
        = link_to edit_project_path(@project), :class => "btn btn-info" do
          %i.icon-edit
          Edit
        .pull-right
          = link_to ('https://github.com/nasasync/' + @project.friendly_name), :class => "btn", :target => "_blank" do 
            %i.icon-github.icon-large
            View on GitHub
              
    #tab2.tab-pane
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th.span2 Timestamp
            %th.span6 Event
            %th.span2 Updated
            %th.span2 Synced
            %th.span2 Status
        %tbody

        - @logs.each do |log|
          %tr
            %td= time_ago log.created_at
            %td= log.action
            %td= log.updated ? "Updated" : "No updates"
            %td= log.synced  ? "Synced" : "Not synced"
            %td
              %span.label= log.level
