= content_for :jquery do
  $("#sync-btn").click(function(){$(this).addClass("disabled").children("i").addClass("icon-spin");});

%p#notice= notice

.page-header
  %h1= @project.name
  %h4= link_to @project.project_url, @project.project_url, :target => "_blank"

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#tab1", "data-toggle" => "tab"}
        Details
    %li
      %a{:href => "#tab2" , :"data-toggle" => "tab"}
        History
  .tab-content
    #tab1.tab-pane.active
      .row
        .span10
          %blockquote
            %p.justify= @project.description
        .span2
          %span.label.label-info.span1
            %justify= "license"
          %br/
          %span.label.label-inverse.span1
            %center= link_to @project.vcs, @project.source_code_url, :target => "_blank"
      .row
        .span10
          %dl.dl-horizontal
            %dt Last update 
            %dd= time_ago @project.logs.last.created_at
            %dt Center
            %dd= @project.center
            %dt License
            %dd= link_to "License", @project.license
            %dt Update interval
            %dd= "#{@project.interval} hours"
        .span2
          %br/
          %br/
          = link_to sync_project_path(@project), id: "sync-btn", remote: true, class: "btn btn-success btn-large", data: {"loading-text" => "Syncing..."} do
            %i.icon-refresh
            Sync now
              
      .form-actions
        = link_to edit_project_path(@project), :class => "btn btn-info" do
          %i.icon-edit
          Edit
        .pull-right
          = link_to @project.repo_name, :class => "btn", :target => "_blank" do 
            %i.icon-github.icon-large
            View on GitHub
              
    #tab2.tab-pane
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th.span2 Timestamp
            %th.span6 Event
            %th.span2 Updated
            %th.span2 Synced
            %th.span2 Status
        %tbody

        - @logs.each do |log|
          %tr
            %td= time_ago log.created_at
            %td= log.action
            %td= log.updated
            %td= log.synced
            %td
              %span.label= log.level
